.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border: 1px solid $blue;
	padding: 15px 32px;
	font-family: $ff;
	font-weight: $fw-bold;
	font-size: 16px;
	color: $white;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color ease $tr,
				color ease $tr;

	@media all and (min-width: $md) {
		font-size: 18px;
	}

	&.blue {
		background-color: $blue;

		&:hover {
			background-color: $white;
			color: $blue;
		}

		&:active {
			background-color: rgb(234, 242, 248);
		}
	}

	&.transparent {
		background-color: transparent;
		color: $blue;
		padding: 15px 50px;

		&:hover {
			background-color: $blue;
			color: $white;
		}

		&:active {
			background-color: rgb(80, 151, 218);
		}
	}

	&.popup_button {
		background-color: $blue;
		padding: 12 24px;
		border-radius: 5px;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}
}