h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh;
	font-size: 40px;

	@media all and (min-width: $lg) {
		font-size: 47px
	}
}

h2, .h2 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh;
	text-align: center;
	font-size: 24px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	font-size: 30px
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	margin-top: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}

b, strong {
	font-weight: $fw-bold
}