h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh;
	font-size: 45px;
	text-align: center;

	@media all and (min-width: $md) {
		text-align: left;
	}

	@media all and (min-width: $lg) {
		font-size: 47px
	}
}

h2, .h2 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh;
	text-align: center;
	font-size: 24px;
	position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: -35px;
			transform: translateX(-50%);
			display: block;
			width: 56px;
			height: 2px;
			background-color: $black;
		}

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	color: $black;
	font-family: $ff;
	font-size: 25px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: 56px; 
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	margin-top: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}

b, strong {
	font-weight: $fw-bold
}