.footer {
	padding: 28px 0;
	background: linear-gradient(212deg, #67C3F3 0%, #5A98F2 100%);
	position: relative;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.dots {
			width: 132px;
			height: 115px;
			position: absolute;
			right: 0;
			top: -90px;
			z-index: -1;
	
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&__link, &__rights {
		display: flex;
		align-items: center;
		color: $footer-link;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-light;
		line-height: 36px;
	}
}